Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.32
python-dotenv==1.0.1
requests==2.32.3
pytz==2024.1
gunicorn==22.0.0
# Migramos a psycopg 3 (compatible Python 3.13) en lugar de psycopg2-binary
# Usar versión disponible en PyPI (3.2.x). Se eligió la última listada por pip.
psycopg[binary]==3.2.9
